.theme-light {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --accent-color: #007acc;

  /* Navbar-specific */
  --header-bg-color: #ffffff;
  --header-text-color: #1a1a1a;
}

.theme-dark {
  --bg-color: #1e1e1e;
  --text-color: #f0f0f0;
  --accent-color: #66d9ef;

  --header-bg-color: #1e1e1e;
  --header-text-color: #f0f0f0;
}

.theme-protanopia {
  --bg-color: #fefefe;
  --text-color: #111;
  --accent-color: #009f7f;

  --header-bg-color: #ffffff;
  --header-text-color: #111;
}
